version: "3.8"

services:
  web:
    build: .
    ports:
      - "${PORT:-8000}:8000"
    volumes:
      - tarawih-db:/app
    env_file:
      - path: .env
        required: false

volumes:
  tarawih-db:
